flatChestnutRose         = #D24D57
flatPomegranate          = #F22613
flatThunderbird          = #D91E18
flatOldBrick             = #96281B
flatFlamingo             = #EF4836
flatValencia             = #D64541
flatTallPoppy            = #C0392B
flatMonza                = #CF000F
flatCinnabar             = #E74C3C
flatRazzmatazz           = #DB0A5B
flatSunsetOrange         = #F64747
flatWaxFlower            = #F1A9A0
flatCabaret              = #D2527F
flatNewYorkPink          = #E08283
flatRadicalRed           = #F62459
flatSunglo               = #E26A6A
flatSnuff                = #DCC6E0
flatRebeccaPurple        = #663399
flatHoneyFlower          = #674172
flatWistful              = #AEA8D3
flatPlum                 = #913D88
flatSeance               = #9A12B3
flatMediumPurple         = #BF55EC
flatLightWisteria        = #BE90D4
flatStudio               = #8E44AD
flatWisteria             = #9B59B6
flatSanMarino            = #446CB3
flatAliceBlue            = #E4F1FE
flatRoyalBlue            = #4183D7
flatPictonBlue           = #59ABE3
flatSpray                = #81CFE0
flatShakespeare          = #52B3D9
flatHummingBird          = #C5EFF7
flatPictonBlue           = #22A7F0
flatCuriousBlue          = #3498DB
flatMadison              = #2C3E50
flatDodgerBlue           = #19B5FE
flatMing                 = #336E7B
flatEbonyClay            = #22313F
flatMalibu               = #6BB9F0
flatCuriousBlue          = #1E8BC3
flatChambray             = #3A539B
flatPickledBluewood      = #34495E
flatHoki                 = #67809F
flatJellyBean            = #2574A9
flatJacksonsPurple       = #1F3A93
flatJordyBlue            = #89C4F4
flatSteelBlue            = #4B77BE
flatFountainBlue         = #5C97BF
flatMediumTurquoise      = #4ECDC4
flatAquaIsland           = #A2DED0
flatGossip               = #87D37C
flatDarkSeaGreen         = #90C695
flatEucalyptus           = #26A65B
flatCaribbeanGreen       = #03C9A9
flatSilverTree           = #68C3A3
flatDowny                = #65C6BB
flatMountainMeadow       = #1BBC9B
flatLightSeaGreen        = #1BA39C
flatMediumAquamarine     = #66CC99
flatTurquoise            = #36D7B7
flatMadang               = #C8F7C5
flatRiptide              = #86E2D5
flatShamrock             = #2ECC71
flatMountainMeadow       = #16a085
flatEmerald              = #3FC380
flatGreenHaze            = #019875
flatFreeSpeechAquamarine = #03A678
flatOceanGreen           = #4DAF7C
flatNiagara              = #2ABB9B
flatJade                 = #00B16A
flatSalem                = #1E824C
flatObservatory          = #049372
flatJungleGreen          = #26C281
flatCapeHoney            = #FDE3A7
flatCalifornia           = #F89406
flatFireBush             = #EB9532
flatTahitiGold           = #E87E04
flatCasablanca           = #F4B350
flatCrusta               = #F2784B
flatJaffa                = #EB974E
flatLightningYellow      = #F5AB35
flatBurntOrange          = #D35400
flatButtercup            = #F39C12
flatEcstasy              = #F9690E
flatSandstorm            = #F9BF3B
flatJaffa                = #F27935
flatZest                 = #E67E22
flatWhiteSmoke           = #ececec
flatLynch                = #6C7A89
flatPumice               = #D2D7D3
flatGallery              = #EEEEEE
flatSilverSand           = #BDC3C7
flatPorcelain            = #ECF0F1
flatCascade              = #95A5A6
flatIron                 = #DADFE1
flatEdward               = #ABB7B7
flatCararra              = #F2F1EF
flatSilver               = #BFBFBF
